body{
	padding-top: 9.8%;
	padding-left: 7.5%;
}
h1{
	font-size: 145%;
	color: hotpink;
}
p{
	font-size: 110%;
	color: black;
}
body{
	background-image: url("bird.jpg");
	background-repeat: no-repeat;
	background-size: cover auto;
	background-position: center;
}