body{
	padding-top: 4%;
	padding-left: 4%;
}
h1{
	font-size: 200%;
	color: blue;
}
p{
	font-size: 130%;
	color: crimson;
}
body{
	background-image: url("bird.jpg");
	background-repeat: no-repeat;
	background-size: 100% 200%;
}