body{
	padding-top: 10%;
	padding-left: 15%;
}
h1{
	font-size: xx-large;
	color: hotpink;
}
p{
	font-size: x-large;
	color: limegreen;
}
body{
	background-image: url("bird.jpg");
	background-repeat: no-repeat;
	background-size: 76% auto;
	background-color: black;
}